@{
    ViewData["Title"] = "Admin Login";
}
<h1>Admin Management</h1>
<div id="LoginForm">
    <p>Incorrect Login Credentials Provided</p>
    <input type="text" id="LoginUsername" name="Username" placeholder="User Name" />
    <input type="password" id="LoginPassword" name="Password" placeholder="Password" />
    <button type="button" id="SubmitButton" onclick="performAdminAuth()">Submit</button>
</div>
