@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Customers</h2>
    <p>Please go to the <a href="#" onclick="loadView('login')">Login Page</a> to continue.</p>
    <h2>Admin</h2>
    <p>Please go to the <a href="#" onclick="loadView('adminlogin')">Admin Login Page</a> to continue.</p>
</div>
